<ion-view title="Blog Post Details">
	<ion-nav-buttons side="left">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
		<div class="item item-divider">
			{{post.title}}
		</div>
		<div class="item item-text-wrap"><small>Published on {{post.pubDate|date: 'fullDate'}} in {{post.category}}</small></div>
		<div class="item item-text-wrap">
			<div><img ng-src="//s3.amazonaws.com/images.productionhub.com/posts/{{post.imageName}}" alt="{{post.title}}" /></div>
			<div ng-bind-html="post.body"></div>
		</div>
	</div>
  </ion-content>
</ion-view>
