<ion-view title="Profiles">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	<button class="button button-icon icon ion-navigate" ng-click="loadProfilesWithLocation()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<ion-list>
		<ion-item class="item">{{position}}</ion-item>
		<ion-item ng-class="{ 'item-avatar': profile.isFeatured }" class="item-text-wrap" ng-repeat="profile in profiles" href="#/app/profile/{{profile.id}}">
			<img src="img/default.png" alt="Company Logo" ng-if="profile.isFeatured" />
			<h2>{{profile.name}}</h2>
			<div><small>{{profile.location}}</small></div>
			<p ng-if="profile.isFeatured">{{profile.description}}</p>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>