<ion-view title="ProductionHUB">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <p class="padding">This is the Profiles Landing page.</p>
	<div class="button-bar">
		<a class="button" href="#/app/freelancers">Crew &amp;<br /><small>Freelancers</small></a>
		<a class="button" href="#/app/companies">Companies &amp;<br /><small>Vendors</small></a>
	</div>
  </ion-content>
</ion-view>
